*~
\#*
.\#*
*_log.txt
*.a
*.db
*.dump
*.o
*.pro.user
*.pyc
*.sis
*.sisx
*.so
*.swp
.depend
.DS_Store
.sake_op
doxyfile-*
local.mk
moc_*.cpp
*-api/
*-build-desktop/
.svn/
_darcs/
api/
build/
contextlogger.github.com/
dist/
fnmatch-python/
github/
koog/
local/
miso/
pyaosocket/
pyexpat/
pyinbox/
pynewfile/
pyswinst/
retired/
software/
wiki/
